---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Forside | Dansk Hestevæddeløb">
	<article>
		<p>Index indhold</p>
	</article>
</MainLayout>