---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import phone from "/public/phones.svg";
---

<MainLayout title="Intro | Dansk Hestevæddeløb">  

<section class="h-screen bg-green-100">
    <a href="/scrollytelling">
        <div class="flex justify-center items-center">
            <Image src={phone} alt="Høretelfoner" class="mt-48 mx-4"></Image>
        </div>
    </a>
    
        <p class="text-center text-green-400 font-sans font-bold text-xl mx-5 mt-10">For den bedste visnings- og lydoplevelse <br>  sæt dine høretelefoner i.</p>
        <p class="text-center text-green-400 font-sans  text-xl mx-5 pt-4"> Klar? <br> Klik på høretelefonerne for at starte!</p>
    </div>

    <dir></dir>


</section>  
</MainLayout>