---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import Sektion1 from "../components/Sektion1.astro";
import  Sektion2 from "../components/Sektion2.astro";
import Sektion3 from "../components/Sektion3.astro";
import Sektion4 from "../components/Sektion4.astro";
import soundOn from "../assets/images/sound-on.webp";

import Sektion6 from "../components/Sektion6.astro";


function changeImage(){
  document.getElementById("audio-global-mute").style.visibility = 'hidden';
  document.getElementById("audio-global").style.visibility = 'visible';
} 

---

<MainLayout title="Forside | Dansk Hestevæddeløb">
<!-- Hero -->
    <Sektion1></Sektion1>

    <!-- Gradient overgang -->
        <div class="h-64 bg-gradient-to-b from-green-100 to-red-100"></div>

<!--Dronning sektion -->
    <Sektion2></Sektion2>

<!-- Krig og forræderi -->
    <Sektion3></Sektion3>

<!-- 1954 -->
     <Sektion4></Sektion4>



     
<!-- Animations -->
    <section>

        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/33b57535-d5de-42f0-b1d7-1903d297de44/xE7bYHCiS0.json" background="transparent" speed="2.5" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>

        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/0b47570c-647e-4616-957f-a868ab994562/HIJPTb6s1a.json" background="transparent" speed="3.5" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>

        
    
    <Sektion6></Sektion6>

     </section>
</MainLayout>


<script>
    import { animate, inView, scroll } from "motion";

    inView( ".walkinview", () =>{
    animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    inView( ".lookinview", () =>{
    animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 20]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["0.90 end", "end end"]
    }
    )

    /* Crossfade to billeder */
    scroll(
    animate(".crossfadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".crossfadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );

     /* Crossfade to billeder */
     scroll(
    animate(".fadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".fadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );

    /* Sticky parallax scrolling */

    scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
		target: document.querySelector(".stickyparallax1"),
	});

    /* Scroll scrubber */
	const scrubbervideo = document.querySelector("#videofil");
	scrubbervideo.pause();	
	scroll(
		({ y }) => {
		if (!scrubbervideo.readyState) return;
		scrubbervideo.currentTime = scrubbervideo.duration * y.progress;
		},
		{
		target: document.querySelector(".videoscroller"),
		offset: ["start end", "end end"]
		}
	);

</script>

