---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import heroDesktop from "../assets/images/hero-desktop.webp";
import heroImg from "../assets/images/bg-hero.webp";
import Button from '../components/Button.astro';

import Introduktion from "../components/Introduktion.astro";
import Sektion1 from "../components/Sektion1.astro";
import Sektion2 from "../components/Sektion2.astro";
import Sektion3 from "../components/Sektion3.astro";
import Sektion4 from "../components/Sektion4.astro";
import Sektion5 from "../components/Sektion5.astro";
import Sektion6 from "../components/Sektion6.astro";
import Sektion7 from "../components/Sektion7.astro";
import Sektion8 from "../components/Sektion8.astro";
import Sektion9 from "../components/Sektion9.astro";

function changeImage(){
  document.getElementById("audio-global-mute").style.visibility = 'hidden';
  document.getElementById("audio-global").style.visibility = 'visible';
} 
---

<MainLayout title="DHV – Historisk Fællesskab | Kampagne">

    <div id="audio-global" class="flex justify-end pt-[70px]">
        <img src="/sound-off.webp" alt="Lyd" loading="lazy" class="z-10 fixed cursor-pointer w-20 mt-10 mr-4" id="audio-global-button">
      </div>

<section id="introduktion" class="introduktion">
    <Introduktion></Introduktion>
</section>

<!-- 1. Hero sektion -->
<section id="section1" class="section1">
    <Sektion1></Sektion1>
</section>

 <!-- Gradient overgang -->
        <div class="h-64 lg:-mb-28 bg-gradient-to-b from-[#d1dfac]  to-red-100 lg:from-[#c9d5a3] lg:to-red-100 lg:h-96"></div>

<!-- 2. Dronning sektion -->
<section id="section2" class="section2">
    <Sektion2></Sektion2>
</section>

<!-- 3. Krig og forræderi -->
<section id="section3" class="section3">
    <Sektion3></Sektion3>
</section>

     <!-- Gradient overgang -->
     <div class="h-72 lg:h-screen bg-gradient-to-b from-[#7c3846] to-brown-100"></div>

<!-- 4. 1954 -->
<section id="section4" class="section4">
     <Sektion4></Sektion4>
</section>

<!-- 5. Røgsky - Spændingsmusik -->
<section id="section5" class="section5">
     <Sektion5></Sektion5>


<!-- 6. Gallop afslutning -->

     <Sektion6></Sektion6>
</section>

    <!-- Gradient overgang -->
    <div class="h-96 lg:-mb-28 bg-gradient-to-b from-blue-100  to-red-100"></div>

<!-- 8. Kvinde kaster hat med jubel -->
<section id="section8" class="section8">
     <Sektion8></Sektion8>


    <!-- Gradient overgang -->
    <div class="h-96 lg:-mb-28 bg-gradient-to-b from-red-100  to-brown-100 "></div>

<!--7. Hest nedefra -->

    <Sektion7></Sektion7>
</section>

    <!-- Gradient overgang -->
    <div class="h-96 lg:-mb-28 bg-gradient-to-b from-brown-100  to-red-100 "></div>

<!-- 9. Publikum og billet -->
<section class="section9">
    <Sektion9></Sektion9>
</section>
     
</MainLayout>


<script>
function changeImage(){
  document.getElementById("audio-global-mute").style.visibility = 'hidden';
  document.getElementById("audio-global").style.visibility = 'visible';
} 

// Klik pil ned på stor samt lille skærm 
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("arrow-down").addEventListener("click", function() {
    const isSmallScreen = window.innerWidth <= 768; // Example: 768px or less for small screens

    window.scrollBy({
      top: isSmallScreen ? window.innerHeight : window.innerHeight * 2,
      behavior: "smooth"
    });
  });
});

import { animate, inView, scroll } from "motion";

const baggrundslydknap = document.getElementById("audio-global-button");
var baggrundslyd = new Audio('https://idahallback-multimedieeksamen.netlify.app/introduktion-musik.m4a');
var afspillerlyd = false;

// Toggle play/pause when the button is clicked
baggrundslydknap.addEventListener("click", toggleafspil);

function toggleafspil() {
    if (afspillerlyd) {
        baggrundslyd.pause();
    } else {
        baggrundslyd.play();
    }
}

// Update the button icon when the sound starts playing
baggrundslyd.onplaying = function() {
    afspillerlyd = true;
    // Update the icon to 'sound off'
    baggrundslydknap.src = '/sound-on.webp';
};

// Update the button icon when the sound is paused
baggrundslyd.onpause = function() {
    afspillerlyd = false;
    // Update the icon to 'sound on'
    baggrundslydknap.src = '/sound-off.webp';
};

    scroll( animate(".progress-bar", { scaleX: [0, 1] }));

    inView( ".intro", () =>{
        console.log("intro");
        baggrundslyd.src="https://idahallback-multimedieeksamen.netlify.app/introduktion-musik.m4a";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section1", () =>{
        console.log("section1");
        baggrundslyd.src="https://lna-mediedesign.dk/section1.mp3";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section2", () =>{
        console.log("section2");
        baggrundslyd.src="https://lna-mediedesign.dk/sound-dronning.mp3";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section3", () =>{
        console.log("section3");
        baggrundslyd.src="https://lna-mediedesign.dk/section3.mp3";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section4", () =>{
        console.log("section4");
        baggrundslyd.src="https://lna-mediedesign.dk/1954.mp3";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section5", () =>{
        console.log("section5");
        baggrundslyd.src="https://lna-mediedesign.dk/hest-ind3.mp3";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    inView( ".section8", () =>{
        console.log("section8");
        baggrundslyd.src="https://idahallback-multimedieeksamen.netlify.app/afsluttende-musik.m4a";
        if (afspillerlyd) {
            baggrundslyd.play();
        }
    });

    // inView( ".section9", () =>{
    //     console.log("section9");
    //     baggrundslyd.src="https://idahallback-multimedieeksamen.netlify.app/afsluttende-musik.m4a";
    //     if (afspillerlyd) {
    //         baggrundslyd.play();
    //     }
    // });


    inView( ".walkinview", () =>{
    animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".walk1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    inView( ".lookinview", () =>{
    animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 }) 
    

    return () => {
        animate( ".look1", { x: [0, 0 ], y: [0, 50 ] }, { duration: 1 })
    }
    })

    inView( ".jumpinview", () =>{
    animate( ".jump1", { x: [0, 0 ], y: [800, -1500 ] }, { duration: 4, delay: 2 }) 
    

    return () => {
        animate( ".jump1", { x: [0, 0 ], y: [700, -1500 ] }, { duration: 4 })
    }
    })

    inView( ".jumpinview", () =>{
    animate( ".jump2", { x: [0, 0 ], y: [800, -1500 ] }, { duration: 5, delay: 3 }) 
    

    return () => {
        animate( ".jump2", { x: [0, 0 ], y: [700, -1500 ] }, { duration: 5 })
    }
    })

    inView( ".hatinview", () =>{
    animate( ".hat", { x: [-100, 100 ], y: [10, -15 ] }, { duration: 5, delay: 3 }) 
    

    return () => {
        animate( ".hat", { x: [10, 40 ], y: [700, -1500 ] }, { duration: 5 })
    }
    })

    scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 20]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["0.90 end", "end end"]
    }
    )

    /* Crossfade to billeder */
    scroll(
    animate(".crossfadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".crossfadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );

     /* Crossfade to billeder */
     scroll(
    animate(".fadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".fadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );

    /* Sticky parallax scrolling */

    scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
		target: document.querySelector(".stickyparallax1"),
	});

</script>

