---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import heroImg from "../assets/images/publikum-sektion1.webp";
---


<MainLayout title="Forside | Dansk Hestevæddeløb">
    <section class="bg-green-100 py-40">
        <h1 class="px-10 text-7xl mt-20 text-green-400 barlow-condensed-bold">Fællesskabet venter...</h1>
        <Image src={heroImg} alt="publikum med hatte på"></Image>

        <div>
            
        </div>



        <h1></h1>
    </section>
</MainLayout>