---
import MainLayout from "../layouts/MainLayout.astro";
---
<div class="bg-green-100 py-0" id="lydeffekter" x-data="{ isPlaying: false }">
    <!-- Lydafspiller -->
<audio x-ref="trykforatafspillelyd" loop class="z-100" :autoplay="isPlaying">
<source src="https://lna-mediedesign.dk/sound-dronning.mp3" type="audio/mpeg">
</audio>

<!-- Knappen til at afspille/stoppe lyden -->
<div id="audio-global" class="flex justify-end lg:mt-16 mt-20">

<!-- Lyd-ON Knappen -->
<img 
    x-show="!isPlaying" 
        src="/sound-off.webp" 
        alt="Lyd på" 
        loading="lazy" 
        class="z-10 fixed cursor-pointer w-20 mt-12 mr-4 lg:mr-10 lg:mt-20" 
        @click="isPlaying = true; $refs.trykforatafspillelyd.play()" 
        id="audio-global-on"
    />
        
<!-- Lyd-OFF Knappen -->
    <img 
        x-show="isPlaying" 
        src="/sound-on.webp" 
        alt="Lyd af" 
        loading="lazy" 
        class="z-10 fixed cursor-pointer w-20 mt-12 mr-4 lg:mr-10 lg:mt-20" 
        @click="isPlaying = false; $refs.trykforatafspillelyd.pause()" 
        id="audio-global-off"
    />
</div>
</div>