---
---

<!-- const Button = ({ variant = 'primary', size = 'md', children }) => {
    const base = 'rounded-md font-barlow-condensed-bold uppercase text-sm transition duration-400 ease-in-out';
    const variants = {
      primary: 'bg-white hover:bg-red-200 text-green-400 hover:text-red-400',
      secondary: 'bg-green-400 hover:bg-red-400 text-green-100 hover:text-red-200',
    };
    const sizes = {
      sm: 'py-2 px-4',
      md: 'py-3 px-6',
      lg: 'py-4 px-8',
    };
    return <a className={`${base} ${variants[variant]} ${sizes[size]}`}>{children}</a>;
  }; -->

<div>
    <button><slot /></button>
</div>

