---
import Button from "../components/Button.astro";
---

<div class="bg-red-200 w-full "
>
  <footer
    class="border-t uppercase border-text-header max-w-full pt-14 flex md:justify-center font-sans"
  >
    <div
      class="w-full max-w-screen-lg grid grid-cols-1 md:grid-cols-3 gap-12 md:gap-26"
    >
      <div class="col-span-1 text-center md:text-left order-3 md:order-1">
        <ul class="text-text-header md:text-lg text-sm md:leading leading-6">
          <li
            class="transition duration-400 ease-in-out hover:underline hover:underline-offset-8 decoration-2"
          >
            <a href="mailto:info@danskhv.dk">info@danskhv.dk</a>
          </li>
          <br />
          <a
            href="https://www.google.com/maps/place/CPH-LAB/@56.23008,11.5425,7z/data=!3m1!4b1!4m6!3m5!1s0x46525386f9339beb:0xca438c908c55dd78!8m2!3d56.23008!4d11.5425!16s%2Fg%2F11frflk7k_?hl=da&entry=ttu"
            target="_blank"
          >
            <li class="font-bold"><a href="#"></a>Dansk Hestevæddeløb <span class="capitalize">ApS</span> </li>
            <li><a href="#"></a>Traverbanevej 10 <br /> 2920 Charlottenlund</li>
          </a>
        </ul>
      </div>

      <div class="col-span-1 text-center md:text-center order-1 md:order-2">
        <ul class="text-text-header md:text-lg text-sm md:leading leading-6">
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            <a href="/nyheder">Nyheder</a>
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Kontakt os
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Løbskalender
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Travinfo
          </li>
          
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Galopinfo
          </li>
        </ul>
      </div>

      <div class="col-span-1 text-center md:text-right order-2 md:order-3">
        <ul class="text-text-header md:text-lg text-sm md:leading leading-6 ">
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Om sporten
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Dansk Hestevæddeløb <span class="capitalize">ApS</span>
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Find din lokale bane
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Samarbejdspartnere
          </li>
          <li
            class="cursor-pointer transition duration-400 ease-in-out hover:text-[#004228]"
          >
            Privatlivspolitik
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="flex p-13 pt-20 items-center justify-center">
    <a href="#">
        <div
          id="logo"
          class="h-[75px] w-[78px] bg-[url('/footer-logo.svg')] hover:bg-[url('/footer-logo-hovered.svg')] bg-cover transition duration-400 ease-in-out my-10">
        </div>
      </a>    
  </div>
  

  <div class="flex gap-6 md:justify-center justify-center">
    <div class="flex justify-center items-center my-10">
        <a href="https://www.facebook.com/danskhestevaeddeloeb" target="_blank">
          <div
            id="Facebook-logo"
            class="w-[50px] h-[50px] bg-[url('icons/facebook.svg')] hover:bg-[url('icons/facebook-hovered.svg')] bg-cover transition duration-400 ease-in-out">
          </div>
        </a>
      </div>

    <div class="flex justify-center items-center my-10">
        <a href="https://www.youtube.com/channel/UCqVmJbbO2zcibekxjCa3kOA#/" target="_blank">
          <div
            id="Youtube-logo"
            class="w-[50px] h-[50px] bg-[url('icons/youtube.svg')] hover:bg-[url('icons/youtube-hovered.svg')] bg-cover transition duration-400 ease-in-out">
          </div>
        </a>
      </div>
      
      <div class="flex justify-center items-center my-10">
        <a href="https://www.instagram.com/danskhv/" target="_blank">
          <div
            id="Instagram-logo"
            class="w-[50px] h-[50px] bg-[url('icons/instagram.svg')] hover:bg-[url('icons/instagram-hovered.svg')] bg-cover transition duration-400 ease-in-out">
          </div>
        </a>
      </div>
  </div>


  <div class="flex items-center justify-center py-4">
    <h3 class="md:text-xl text-lg font-sans text-text-header">
      Tilmeld dig vores nyhedsbrev
    </h3>
  </div>
  
  <div class="w-auto mx-10 lg:mx-80 flex flex-col items-center">
    <!-- Input og pil på samme linje -->
    <div class="flex w-full items-center">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Indtast din email"
        class="bg-transparent border-red-400 focus:border-green-400 font-sans placeholder-[#004228] w-full text-md rounded-md focus:ring-0 border-1 focus:outline-none focus:border-2 focus:text-[#004228] mr-2"
      />
      <button>
        <div
          id="arrow-right-logo"
          class="w-[50px] h-[50px] bg-[url('/icons/arrow-right.svg')] hover:bg-[url('icons/arrow-right-hovered.svg')] bg-cover transition duration-400 ease-in-out hover:translate-x-2">
        </div>
      </button>
    </div>
  
    <!-- CVR og Copyright info -->
    <div class="flex flex-col items-center mt-6 mb-10 text-xs text-text-header">
      <div class="mb-2">CVR: 31 94 33 29</div>
      <div>Copyright 2024 <span class="font-bold">©</span> Dansk Hestevæddeløb</div>
    </div>
  </div>
  
  