---
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import heroImg from "../assets/images/hero-kampagne.webp";
import heroImgMobil from "../assets/images/hero-kampagne-mobil.webp";
---

<div class="relative group">
    <!-- Title -->
    <h1 class="lg:p-6 p-4 text-5xl lg:text-6xl mt-20 mx-10 lg:mx-0 bg-black-100 bg-opacity-50 rounded-sm text-center text-yellow-100 font-display font-bold absolute z-20 lg:left-1/2 lg:transform lg:-translate-x-1/2 top-[18%] lg:top-[20%]">
        I fællesskab udgør vi sporten
    </h1>
    
    <!-- Image Container -->
    <div class="w-full h-auto overflow-hidden">
        <Image 
            src={heroImgMobil} 
            alt="hestevæddeløbsbane mobil" 
            class="lg:hidden md:hidden mt-6 w-full h-auto" 
        />
        <Image 
            src={heroImg} 
            alt="hestevæddeløbsbane" 
            class="hidden md:block lg:block mt-24 w-full h-auto transform transition-transform duration-1000 ease-in-out group-hover:scale-105" 
        />
    </div>
    
    <!-- Button -->
    <div class="absolute inset-0 flex items-center justify-center z-30 top-[40%] lg:top-[20%]">
        <a href="/scrollytelling" class="font-sans mx-8 py-5 px-14 bg-red-200 hover:bg-red-400 text-text-header hover:text-[#FBDED3] text-center barlow-condensed-bold uppercase text-2xl lg:text-3xl justify-center rounded-md drop-shadow-md transition duration-400 ease-in-out">
            Se kampagne
        </a>
    </div>
</div>




