---
const {dato, måned, tidspunkt, beliggenhed, info} = Astro.props;
---

<div class="bg-[#C7D69B] mx-0 mt-8 p-6 lg:px-10 lg:py-0 rounded-md mb-6 ">
    <div class="grid lg:grid-cols-3">
        <div class="flex gap-4 items-center">
            <h3 class="text-6xl lg:text-7xl font-display font-bold text-green-400 lg:pb-8">{dato}</h3>
            <p class="text-lg pt-6 lg:pt-0 font-sans text-green-400 font-medium lg:text-xl">{måned} <br> {tidspunkt} </p>
        </div>

        <p class="py-4 text-lg lg:text-xl lg:py-16 lg:text-center font-sans text-green-400 font-medium"> {beliggenhed} <br> {info} </p>

        <div class="grid grid-cols-2 lg:grid-cols-1 gap-4 text-center lg:text-xl">
            <a href="#" class="bg-white-100 hover:bg-red-200 text-green-400 hover:text-red-400 rounded-md barlow-condensed-bold py-2 lg:py-4 px-8 lg:mt-8 lg:ml-48 lg:pl-10 uppercase text-sm transition duration-400 ease-in-out">Se mere</a>
            <a href="#" class="bg-green-400 hover:bg-red-400 text-green-100 hover:text-red-200 rounded-md barlow-condensed-bold py-2 lg:py-4 px-8 lg:mb-8 lg:mr-0 lg:ml-48 uppercase text-sm transition duration-400 ease-in-out">Køb billet</a>
        </div>
    </div>
</div>
