---
import { Image } from "astro:assets";
import nyhed1 from "../assets/images/forside-billeder/nyhed1.webp";
import nyhed2 from "../assets/images/forside-billeder/nyhed2.webp";
import nyhed3 from "../assets/images/forside-billeder/nyhed3.webp";
---

<div class="p-10 bg-yellow-100">
    <h3 class="text-tertiary font-display font-bold text-5xl lg:text-6xl pb-8 ">Nyheder</h1>
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 lg:gap-20 over">

        <!-- Nyhed 1 -->
        <div class="col-span-1 group relative"> 
          <div class="overflow-hidden">
            <a href="" target="_blank">
                <Image src={nyhed1} alt="50-års jubilæum som travtræner" class="w-full h-auto object-cover group-hover:scale-105 transition-transform duration-1000" />
                <figcaption class="my-2 font-display text-sm">5. dec. 2024</figcaption>
            </a>
          </div>
          <a href="" target="_blank">
            <h2 class="text-2xl mb-2 font-display font-bold">50-års jubilæum som travtræner</h2>
          <figcaption class="prose text-lg text-[#501e1f]">
            Søndag rundede 74-årige Steen Juul en stor milepæl.
        </figcaption>
        </a>  
        </div>

        <!-- Nyhed 2 -->
        <div class="col-span-1 group relative"> 
          <div class="overflow-hidden">
            <a href="" target="_blank">
                <Image src={nyhed2} alt="Galoptræner Bettina Andersen: ”Det kunne aldrig lade sig gøre uden opbakning hjemmefra.”" class="w-full h-auto object-cover group-hover:scale-105 transition-transform duration-1000" />
                <figcaption class="my-2 font-display text-sm">26. nov. 2024</figcaption>
            </a>
          </div>
          <a href="" target="_blank">
            <h2 class="text-2xl mb-2 font-display font-bold">Galoptræner Bettina Andersen: ”Det kunne aldrig lade sig gøre uden opbakning hjemmefra.”</h2>
          <figcaption class="prose text-lg text-[#501e1f]">
            Dansk Hestevæddeløb og Bet25 kårer My Fortunes sejr i Dansk St. Leger som Månedens Præstation i oktober.
        </figcaption>
        </a>  
        </div>

        <!-- Nyhed 3 -->
        <div class="col-span-1 group relative"> 
          <div class="overflow-hidden">
            <a href="" target="_blank">
                <Image src={nyhed3} alt="Galoptræner Bettina Andersen: ”Det kunne aldrig lade sig gøre uden opbakning hjemmefra.”" class="w-full h-auto object-cover group-hover:scale-105 transition-transform duration-1000" />
                <figcaption class="my-2 font-display text-sm">22. nov. 2024</figcaption>
            </a>
          </div>
          <a href="" target="_blank">
            <h2 class="text-2xl mb-2 font-display font-bold">Emoji vender hjem til Fyens Væddeløbsbane”</h2>
          <figcaption class="prose text-lg text-[#501e1f]">
            Der er løb der er særlige fordi de er store. Der er løb der er særlige fordi gode heste mødes. Og så er der løb der er særlige, fordi man vender hjem. Hjem til sin hjemmebane. Løbet i dag, har det hele for hingsten Emoji, der starter i Liga 1-finalen på Fyens Væddeløbsbane. 
        </figcaption>
        </a>  
        </div>
        
      </div>      
    </section>
</div>



