---
import { Image } from "astro:assets";
import nyhed1 from "../assets/images/forside-billeder/nyhed1.webp";
---

<div class="p-10 mt-5 lg:mt-10">
    <h1 class="text-tertiary font-display font-bold text-5xl lg:text-6xl pb-8 ">Nyheder</h1>
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 lg:gap-20 over">
        <div class="col-span-1 group relative"> 
          <div class="overflow-hidden">
            <a href="" target="_blank">
                <Image src={nyhed1} alt="50-års jubilæum som travtræner" class="w-full h-auto object-cover group-hover:scale-105 transition-transform duration-300" />
                <figcaption class="my-2 font-display text-sm">5. dec. 2024</figcaption>
            </a>
          </div>
          <a href="" target="_blank">
            <h2 class="text-2xl mb-2 font-display font-bold">50-års jubilæum som travtræner</h2>
          </a>
          <figcaption class="prose text-lg text-[#501e1f]">
            Søndag rundede 74-årige Steen Juul en stor milepæl          
        </figcaption>
        </div>
      </div>
    </section>
</div>
