---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import publikum from "../assets/images/publikum-bagfra.svg";
---

<!-- Kvinde kaster hat -->

<!--Dronning sektion -->
<section class="bg-blue-200" id="lydeffekter" x-data="">
    <audio x-ref="trykforatafspillelyd" loop autoplay class="z-100">
        <source src="https://lna-mediedesign.dk/sound-dronning.mp3" type="audio/mp3">
    </audio>

    <div class="overflow-clip bg-cover">
     <div class= "sticky top-48 left-0 right-0 bottom-0 h-cover bg-cover bg-center walkinview">
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/509a9ff9-30cc-4ae3-b73e-f60dcb1c8cf9/5ArRxrKPSc.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        </div>
     <div>
     <div class="relative flex justify-end"><!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 ">
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center font-display">Året er 1771... Vi befinder os i Københavns Fælled. For første gang på dansk jord, afholdes Hestevæddeløb.</p>
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center font-display">Dette er Dronning Caroline Mathilde... </p>
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center font-display">Hun står der med et smil, og i hendes øjne ser hun et glimt af hendes drøm. Hun har bragt ideen med sig fra England – et land hvor hestevæddeløb ikke bare er en sport, men en livsstil.</p>
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mt-40 mb-96">
                <p class="text-center font-display">Men hør nu... det bliver ikke nemt.</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>
    </div>
    </div>
 </section>



<!--Skåler sektion -->
<section class="bg-[#B4CEF4]" id="lydeffekter" x-data="">
    <audio x-ref="trykforatafspillelyd">
        <source src="" type="audio/mp3">
    </audio>

    <!-- <div class= "lg:hidden flex items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-image: url('/publikum.svg')"> -->
    <div class= "sticky top-0 left-0 right-0 bottom-0 h-[44rem] w-100 bg-cover bg-center walkinview" style="background-image: url('/baggrund-bane.png')">
     </div>

     <div class="relative flex justify-end">
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 ">
            <div class="bg-black-100/50 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center font-display">Kig omkring dig. <br> Hver en person er her for én ting: at være en del af noget stort, noget magisk.</p>
            </div>
            <div class="bg-black-100/50 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center font-display">Folk er ikke kun her for hestevæddeløb... de er her for fællesskabet!</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>
 </section>

 <!-- Kammerater skåler sektion-->
 <div class="h-80 bg-gradient-to-b from-blue-300 to-blue-400"></div>
 <section class="bg-blue-400 flex items-center justify-center min-h-screen" id="lydeffekter">
    <div class="absolute bg-black-100/50 text-white-100 text-[18px] p-10 mb-96 mt-40">
        <p class="text-center font-display">Det er blevet en tradition, det her. <br> <br> Et sted hvor venner mødes, hvor gamle minder opstår, og hvor nye skabes.</p>
    </div>

    <div class="flex flex-col items-center justify-center ">
    </div>
</section>

