---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<section class="bg-red-100" id="lydeffekter" x-data="">
    <audio x-ref="trykforatafspillelyd" loop autoplay class="z-100">
        <source src="https://lna-mediedesign.dk/sound-dronning.mp3" type="audio/mp3">
    </audio>

    <div class="scrollzoom overflow-clip bg-cover">
     <div class= "sticky top-48 left-0 right-0 bottom-0 h-full bg-cover bg-center walkinview scrollzoomimg lg:w-full lg:h-full lg:mt-20 lg:top-0" style="background-image: url('/baggrund-dronning.webp')">
        <img class="flex flex-col w-96 lg:mx-48 h-full justify-center p-4 walk1 pt-48 lg:w-[500px] animate-[walking_5s_ease-in-out_infinite]"  src="/src/assets/images/dronning.svg" alt="Dronning Caroline Mathilde"/>
     </div>

     <div>
     <div class="relative flex justify-end"><!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 lg:mx-32 lg:w-[500px]">
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center">Året er 1771... Vi befinder os i Københavns Fælled. For første gang på dansk jord, afholdes Hestevæddeløb.</p>
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center">Dette er Dronning Caroline Mathilde... </p>
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center">Hun står der med et smil, og i hendes øjne ser hun et glimt af hendes drøm. Hun har bragt ideen med sig fra England – et land hvor hestevæddeløb ikke bare er en sport, men en livsstil.</p>
    
            </div>
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mt-40 mb-96">
                <p class="text-center">Men hør nu... det bliver ikke nemt.</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>
    </div>
    </div>
    
 </section>
