
<!-- Ny Kode -- Røgsky -->
<div class="bg-brown-100 pt-10 lg:-mt-[800px]">

    <!-- Mobil video -->
    <div class="lg:hidden videocontainer sticky top-[0%] w-full h-screen">
      <video muted loop playsinline class="w-full" id="videofil-mobil2">
          <source src="https://lna-mediedesign.dk/horse-in-mobile.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/horse-in-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscroller2"></div>
  
    <!-- Desktop video -->
    <div class="hidden lg:block videocontainer sticky top-[0%] w-full">
      <video muted loop playsinline class="w-full" id="videofil-desktop2">
          <source src="https://lna-mediedesign.dk/horse-in-desktop.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/horse-in-desktop.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscrollerdesktop2"></div>

    <div class="relative flex justify-end"><!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 lg:mx-32 lg:w-[500px]">
            <div class="bg-black-100/70 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center">Mærk suset...</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>
    <div class="h-96 bg-[#b2deec]"></div>

</div>

  <script>
    import { scroll } from "motion"; 
    
    /* Scroll scrubber - Mobil */
    const scrubbervideomobil = document.querySelector("#videofil-mobil2");
    scrubbervideomobil.pause(); 
    scroll(
        ({ y }) => {
        if (!scrubbervideomobil.readyState) return;
        scrubbervideomobil.currentTime = scrubbervideomobil.duration * y.progress;
        },
        {
        target: document.querySelector(".videoscroller2"),
        offset: ["start end", "end start"]
        }
    );


    /* Scroll scrubber - Desktop */
    const scrubbervideodesktop = document.querySelector("#videofil-desktop2");
    scrubbervideodesktop.pause();   
    scroll(
        ({ y }) => {
        if (!scrubbervideodesktop.readyState) return;
        scrubbervideodesktop.currentTime = scrubbervideodesktop.duration * y.progress;
        },
        {
        target: document.querySelector(".videoscrollerdesktop2"),
        offset: ["start end", "end start"]
        }
    );
 </script>


  