---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import krig from "../assets/images/krig.webp";
---

<section id="section3">
    <div class="crossfadeimages h-screen lg:w-screen">
        <div class="h-screen bg-red-400 lg:bg-[#F4D7DD] crossfadetopimg object-cover"></div>
        <Image class="sticky top-0 left-0 right-0 bottom-0 w-100 bg-cover bg-center object-cover h-screen z-0 my-0 crossfadebottomimg" src={krig} alt="Krig og forræderi"></Image> 
        <div class="h-32 blur-md absolute -top-10"></div>
    </div>

 <Image class="sticky top-0 left-0 right-0 bottom-0 w-100 bg-cover bg-center object-cover h-screen z-0 my-0 crossfadebottomimg" src={krig} alt="Krig og forræderi"></Image>

    <div class="relative flex justify-end"><!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 lg:mx-32 lg:w-[500px]">

            <div class="bg-black-100/70 text-white-100 text-[18px] p-10 mb-[600px] lg:justify-start">
                <p class="text-center ">Forræderi og krig truer landet.</p>
            </div>

            <div class="bg-black-100/70 text-white-100 text-[18px] p-10 mb-[600px] lg:justify-end">
                <p class="text-center ">Ingen ved, om denne sport nogensinde vil slå rødder i Danmark..</p>
            </div>

            <div class="bg-black-100/70 text-white-100 text-[18px] p-10 mb-[800px] lg:justify-start">
                <p class="text-center ">Men én ting er sikkert: det første løb er kun begyndelsen..</p>
            </div>
        </div>
    </div>
 </section>

 <script>
    import { animate, scroll } from "motion";

    /* Crossfade to billeder */
    scroll(
    animate(".crossfadebottomimg", {
        opacity: [1, 0]
    }), {
        target: document.querySelector(".crossfadeimages"),
        offset: ["25vh", "-2vh"]
    }
    );
 </script>