<div class="bg-white-100 videocontainer relative w-full h-full">
    <video autoplay muted loop playsinline class="w-full h-full object-cover" id="videofil">
        <source src="/video-scrubber.mp4" type="video/mp4">
        <source src="/video-scrubber.mp4" type="video/webm">
    </video>


	<div id="animation_rytter" 
		class="absolute top-[30%] left-[50%] -translate-x-1/2 -translate-y-1/2 animate-riding">
		<script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
		<dotlottie-player 
			src="https://lottie.host/33b57535-d5de-42f0-b1d7-1903d297de44/xE7bYHCiS0.json" 
			background="transparent" 
			speed="0.5" 
			loop 
			autoplay>
		</dotlottie-player>
	</div>

    <div class="absolute top-[20%] left-[10%] right-[10%] flex justify-center">
        <div class="bg-black-100/80 text-white-100 text-[18px] p-10">
            <p class="text-center font-display">
                Det er her, adrenalinen rammer. Det er her, hjertet banker stærkere. <br><br>
                Når løbet går i gang, er der ikke noget, der kan måle sig med denne spænding.
            </p>
        </div>
    </div>
</div>

<script>
    const video = document.getElementById('videofil');
    video.playbackRate = 0.2;
</script>
