---

---

<!-- Ny kode -->

<div class="bg-brown-100 pt-10 lg:-mt-[800px]">

    <!-- Mobil video -->
    <div class="lg:hidden videocontainer sticky top-[10%] w-full h-screen">
      <video muted loop playsinline class="w-full" id="videofil-mobil4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobil.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobile.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscroller4"></div>
  
    <!-- Desktop video -->
    <div class="hidden lg:block videocontainer sticky top-[0%] w-full">
      <video muted loop class="w-full" id="videofil-desktop4">
          <source src="https://lna-mediedesign.dk/hest-nede.mp4" type="video/mp4">
          <source src="https://lna-mediedesign.dk/hest-nede-mobil.webm" type="video/webm">
      </video>
    </div>
    <div class="h-screen videoscrollerdesktop4"></div>
  
</div>

  <script>
    import { scroll } from "motion"; 
    
    /* Scroll scrubber - Mobil */
  const scrubbervideomobil = document.querySelector("#videofil-mobil4");
  scrubbervideomobil.pause(); 
  scroll(
    ({ y }) => {
    if (!scrubbervideomobil.readyState) return;
    scrubbervideomobil.currentTime = scrubbervideomobil.duration * y.progress;
    },
    {
    target: document.querySelector(".videoscroller4"),
    offset: ["start end", "end start"]
    }
  );
  
    /* Scroll scrubber - Desktop */
  const scrubbervideodesktop = document.querySelector("#videofil-desktop4");
  scrubbervideodesktop.pause(); 
  scroll(
    ({ y }) => {
    if (!scrubbervideodesktop.readyState) return;
    scrubbervideodesktop.currentTime = scrubbervideodesktop.duration * y.progress;
    },
    {
    target: document.querySelector(".videoscrollerdesktop4"),
    offset: ["start end", "end start"]
    }
  );
  
  </script>
  
  