---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
---

<!--Skåler sektion – Zoom ind -->
 <div class="h-80 bg-gradient-to-b from-blue-300 to-blue-400"></div>
 <section class="bg-blue-400 flex items-center justify-center min-h-screen" id="lydeffekter">
    <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/0b47570c-647e-4616-957f-a868ab994562/HIJPTb6s1a.json" background="transparent" speed="3.5" style="width: 900px; height: 900px" loop autoplay></dotlottie-player>
    <div class="absolute bg-black-100/50 text-white-100 text-[18px] p-10 mb-96 mt-40">
        <p class="text-center font-display">Det er blevet en tradition, det her. <br> <br> Et sted hvor venner mødes, hvor gamle minder opstår, og hvor nye skabes.</p>
    </div>

    <div class="flex flex-col items-center justify-center ">
    </div>
</section> 

