---
import { Image } from "astro:assets";
import bgHestNedefra from "../assets/images/Baggrund-hest-nedefra.webp";
import bgHestNedefraMobil from "../assets/images/hest-nedefra-mobil.webp";
import hestNedefra from "../assets/images/hest-nedefra.svg";
---


<section class="overflow-clip relative bg-brown-100">
    <Image 
        src={bgHestNedefraMobil} 
        alt="træer set nedefra" 
        class="lg:hidden sticky top-48 left-0 right-0 bottom-0 h-full bg-cover bg-center lg:w-full lg:h-full lg:mt-20 lg:top-0 jumpinview"
    />

    <Image 
    src={bgHestNedefra} 
    alt="træer set nedefra" 
    class="hidden lg:block sticky top-48 left-0 right-0 bottom-0 h-full bg-cover bg-center lg:w-full lg:h-full lg:mt-20 lg:top-0 jumpinview"
/>
    <Image 
        src={hestNedefra} 
        alt="hest kommer løbende set nedefra" 
        class="absolute top-48 left-1/2 transform -translate-x-1/2 w-36 lg:w-64 lg:mx-48 h-auto z-10 jump1 animate-[jump_10s_ease-in-out_infinite]"
    />

    <Image 
        src={hestNedefra} 
        alt="hest kommer løbende set nedefra" 
        class="absolute top-48 left-1/4 transform -translate-x-1/2 w-36 lg:w-64 lg:mx-48 h-auto z-10 jump2 animate-[jump_10s_ease-in-out_infinite]"
    />
</section>


