<!-- Kvinde kaster hat – Sidewaysscroll -->
<section class="bg-blue-200" id="lydeffekter" x-data="">
    <audio x-ref="trykforatafspillelyd" loop autoplay class="z-100">
        <source src="" type="audio/mp3">
    </audio>

    <div class="overflow-clip bg-cover">
     <div class= "sticky top-48 left-0 right-0 bottom-0 h-cover bg-cover bg-center walkinview">
        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/509a9ff9-30cc-4ae3-b73e-f60dcb1c8cf9/5ArRxrKPSc.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        </div>
     <div>
     <div class="relative flex justify-end">
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 ">
            <div class="bg-black-100/80 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center font-display">Og så er der hende. Hun kaster sin hat op i luften. Smilene, latteren, glæden. Det er ikke bare et løb. Det er en fest. En hyldest til traditionen</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>
    </div>
    </div>
 </section>