---
import { Image } from "astro:assets";
import heroImg from "../assets/images/bg-hero.webp";
import heroDesktop from "../assets/images/hero-desktop.webp";
---

<div class="relative">
    <div class="bg-[#d1dfac] py-0">
        <div id="audio-global" class="cursor-pointer flex justify-center items-center">
        </div>  

<!-- Progress-bar i bunden -->
<div class="progress-bar h-4 fixed w-full bg-red-400 left-0 origin-top-left bottom-0 right-0 z-[9999]"></div>

  
<!-- Pil ned -->
        <div id="arrow-down"class="cursor-pointer floating-arrow absolute bottom-[22%] left-1/2 transform -translate-x-1/2 z-20 animate-[walking_5s_ease-in-out_infinite]">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-[#004228]" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a1 1 0 01-.707-.293l-7-7a1 1 0 011.414-1.414L10 15.586l6.293-6.293a1 1 0 011.414 1.414l-7 7A1 1 0 0110 18z" clip-rule="evenodd" />
            </svg>
        </div>

    <!-- Titel -->
    <h1 id="fadeInTitle" class="opacity-0 transition-opacity duration-1000 ease-in-out px-4 text-5xl lg:text-7xl mt-36 mx-4 lg:-mt-14 lg:text-center text-green-400 font-display font-bold absolute z-20 lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:top-[16%]">
        Fællesskabet venter...
    </h1>
            
    <!-- Billede for mobil og tablet -->
    <Image class="lg:hidden w-full h-auto mt-52" src={heroImg} alt="publikum med hatte på" />
            
    <!-- Billede for desktop -->
    <div class="relative w-full h-auto lg:block hidden">
     <Image class="w-full h-auto" src={heroDesktop} alt="publikum med hatte på"/>
                
    <!-- Desktop animationen -->
    <div class="absolute top-2/4 lg:left-[650px] left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/de828805-50bd-4083-bbbb-04984803e2f8/BX8pAFajRI.json" background="transparent" speed="2.5" style="width: 50vw; height: auto;" id="hest" loop autoplay></dotlottie-player>
        </div>
    </div>

    <!-- Mobile animation -->
    <div class="lg:hidden absolute top-72 right-8">
        <script is:inline src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/de828805-50bd-4083-bbbb-04984803e2f8/BX8pAFajRI.json" background="transparent" speed="2.5" style="width: 100vw; height: auto;" id="hest" loop autoplay></dotlottie-player>
    </div>
</div>

</div>

<script>
    import { inView} from "motion";
    inView("#fadeInTitle", (inView) => {
        const title = document.getElementById("fadeInTitle");
        if (inView) {
            title.classList.add("opacity-100");
        } else {
            title.classList.remove("opacity-100");
        }
    });

    // Klik pil ned på stor samt lille skærm 
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("arrow-down").addEventListener("click", function() {
    const isSmallScreen = window.innerWidth <= 768; // Example: 768px or less for small screens

    window.scrollBy({
      top: isSmallScreen ? window.innerHeight : window.innerHeight * 2,
      behavior: "smooth"
    });
  });
});
</script>
