---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import venner from "./public/Baggrund-venner.webp";
import glas from "../assets/images/glas.webp";
---

<section id="section4" class="bg-brown-100">

    <div class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-image: url('mennesker.webp')" >
        <p class="mx-10 lg:w-1/4 lg:ml-64 p-10 bg-black-100/60 text-white-100 text-[18px] stickyparallax1">Vi befinder os nu i år 1954. Der er gået næsten 180 år. Tiden har talt, og hestevæddeløb har fået et fast greb om det danske folk.</p>
    </div>

    <div class="h-screen bg-brown-100 flex items-center w-100 bg-cover bg-center sticky top-0">
        <div class="flex items-center h-screen w-100 lg:w-full bg-cover bg-center sticky top-0 look1 animate-[looking_5s_ease-in-out_infinite]" style="background-image: url('folk.svg')" >
        <p class="mx-10 mt-24 lg:w-1/4 lg:ml-64 p-10 bg-black-100/60 text-white-100  text-[18px] stickyparallax1">Kig omkring dig. Hver en person er her for én ting: at være en del af noget stort, noget magisk.</p>
    </div>
    </div>

<div class="flex items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-image: url('Baggrund-venner.webp')" >
    <p class="mx-10 lg:w-1/4 lg:ml-64 p-10 bg-black-100/60 text-white-100 text-[18px] stickyparallax1"> Folk er her ikke kun for hestevæddeløb... de er her for fællesskabet!</p>
</div>


<div class="fadeimages h-screen lg:w-screen">
    <Image class="h-screen fadetopimg object-cover z-10" src={venner}  alt="venner holder om hinanden"></Image>
</div>


    <!-- Mobil video -->
    <div class="lg:hidden videocontainer sticky top-[10%] w-full h-screen">
        <video  muted loop playsinline class="w-full" id="videofil-mobil" >
            <source src="https://lna-mediedesign.dk/glas-mobile.mp4" type="video/mp4">
            <source src="https://lna-mediedesign.dk/glas-mobile.webm" type="video/webm">
        </video>
        </div>
    <div class="h-screen videoscroller"></div>



    <!-- Desktop video -->
    <div class="hidden lg:block videocontainer sticky top-[0%] w-full">
        <video  muted loop playsinline class="w-full" id="videofil-desktop" >
            <source src="https://lna-mediedesign.dk/glasvideo.mp4" type="video/mp4">
            <source src="https://lna-mediedesign.dk/glasvideo.webm" type="video/webm">
        </video>
        </div>
    <div class="h-screen videoscrollerdesktop"></div>


    <div class="relative flex justify-end"><!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-4 lg:mx-32 lg:w-[500px]">
            <div class="bg-black-100/60 text-white-100 text-[18px] p-10 mb-96">
                <p class="text-center">Det er blevet en tradition, det her.</p>
            </div>
            <div class="bg-black-100/60 text-white-100 text-[18px] p-10 mb-96 mt-40">
                <p class="text-center">Et sted hvor venner mødes, hvor gamle minder opstår, og hvor nye skabes.</p>
            </div>
        </div>
    </div>
    <div class="h-[80vh]"></div>

 </section>





 <script>
    import { animate, inView, scroll } from "motion"; 
    
    /* Scroll scrubber - Mobil */
	const scrubbervideoMobile = document.querySelector("#videofil-mobil");
	scrubbervideoMobile.pause();	
	scroll(
		({ y }) => {
		if (!scrubbervideoMobile.readyState) return;
		scrubbervideoMobile.currentTime = scrubbervideoMobile.duration * y.progress;
		},
		{
		target: document.querySelector(".videoscroller"),
		offset: ["start end", "end end"]
		}
	);


    /* Scroll scrubber - Desktop */
	const scrubbervideoDesktop = document.querySelector("#videofil-desktop");
	scrubbervideo.pause();	
	scroll(
		({ y }) => {
		if (!scrubbervideoDesktop.readyState) return;
		scrubbervideoDesktop.currentTime = scrubbervideoDesktop.duration * y.progress;
		},
		{
		target: document.querySelector(".videoscrollerdesktop"),
		offset: ["start end", "end end"]
		}
	);
 </script>